<h2>Battle</h2> <!-- h1 = Header one !-->

<!-- HTML is the code for the visual part of our website !-->

<form action="/names" method="post">
  <input type="text" name="player_1_name">
  <input type="text" name="player_2_name">
  <input type="submit" value="Subject"> <!-- if you put something that is not recognized, it will always be a text field !-->
</form>



<!-- every time we send a get request we call index so if we change
index and save it it gets executed and we don't have to restart the server!-->
